
.containerRow{
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    padding: 6px 0 6px 0;
}

.allrow{
    display: flex;
    flex-direction: row;
    align-items: center;    

    justify-content: center;
    word-wrap: break-word;

    white-space: normal;
    color: rgb(110, 110, 110);
}

.row1{
    width: 40%;
}

.row2{
    width: 60%;
}

.rowItem{
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

.item4{
    padding: 0 2px 0 2px;
}

.containerButtonCont{
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.555);
    padding: 5px 3px 5px 3px;

    border-radius: 2px;
    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: row;
    font-size: 0.8rem;
}

.btnCont{
    border-radius: 100%;
    font-size: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.493);
}

.rg{
    margin-right: auto;
    padding: 0 2px 0 2px;
    width: auto;
    display: flex;
}

.lf{
    margin-left: auto;
    padding: 0 3px 0 3px;
    width: auto;
    display: flex;
}